* {
    font-family: 'helvetica';
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://th.bing.com/th/id/OIP.r3T-DpnkbOZ9txBJmGEjVwHaE7?pid=ImgDet&w=1280&h=853&rs=1);
    background-repeat: none;
    background-size: cover;
}
.hiasan{
    background: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(20px);
    border-radius: 5%;
    margin-top: 10px;
    padding: 20px;
}
